.matterCard {
  width: 96%;
  max-width: 170px;
  overflow: hidden;
  border: solid 3px #000;
  border-radius: 8px;
  background-color: #fff;
  transform: scale(0.9);
}

@media (max-width: 1280px) {
  .matterCard {
    max-width: 220px;
  }
}

.matterCard-firstData-container {
  display: flex;
  border-bottom: solid 3px #000;
}
.matterCard-firstData-container span {
  flex-grow: 1;
  text-align: center;
  font-weight: 800;
}
.matterCard-credits {
  background-color: #000;
  color: #fff;
}
.matterCard-synchronous {
  border-right: solid 3px #000;
}

.matterCard-name,
.matterCard-group {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  margin: 0;
  padding: 2px 2px;
  border-bottom: solid 3px #000;
  font-size: 1.02em;
  text-align: center;
}
.matterCard-name {
  font-weight: 500;
}
.matterCard-group {
  font-weight: 400;
}

.matterCard-idComponent-container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px #000;
  min-height: 20px;
}
.matterCard-id {
  flex-grow: 2;
  border-right: solid 3px #000;
  text-align: center;
}
.matterCard-component {
  flex-grow: 1;
  text-align: center;
  font-weight: 600;
  font-size: 1.04em;
}

.matterCard-seeMore {
  border: none;
  background-color: #0099ff;
  width: 100%;
  padding: 1.5px 1px;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s;
}
.matterCard-seeMore:hover {
  background-color: #0af;
}
