.infoSquares-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.infoSquares-item {
  box-sizing: border-box;
  padding: 2px;
  text-align: center;
  background-color: #fff;
  border: solid 2px #000;
}

.infoSquares-item-credits {
  background-color: #000;
  color: #fff;
  border-right-width: 0;
  border-radius: 4px 0 0 4px;
}
.infoSquares-item-asynchronous {
  border-left-width: 0;
  border-radius: 0 4px 4px 0;
}

.infoSquares-item:last-child {
  grid-column-start: 2;
  border-top-width: 0;
  border-radius: 0 0 4px 4px;
}
