.header-info {
  display: flex;
  gap: 5px;
  padding: 5px 5px 5px 3px;
  font-size: 14.5px;
  background-color: #fff;
}

.header-info > div {
  padding: 3px;
}

.header-logoAndInfoContainer {
  display: grid;
  font-size: 15px;
  text-align: center;
}
.header-logo {
  max-width: 210px;
  place-self: center;
}
.header-logoAndInfoContainer p {
  margin: 5px;
}

/*Title and Regulations*/

.header-titleAndRegulations .header-curriculumTitle {
  display: block;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 500;
}

.titleAndRegulation-clarification {
  margin: 0;
  color: #555;
  font-weight: 555;
}

.titleAndRegulation-regulationTitle {
  font-weight: 600;
  margin: 8px 0 0 0;
}

.titleAndRegulation-list {
  display: grid;
  gap: 3px;
  padding: 4px 2px 2px 3px;
  list-style: none;
  background-color: #f3f5f7;
  margin: 5px 0 0 0;
}
.titleAndRegulation-list-li {
  line-height: 20px;
  padding: 2px 3px;
  font-size: 14px;
}
.titleAndRegulation-list-li span {
  background-color: #121314;
  color: #fff;
  padding: 2px 3px 3px 3px;
  margin-right: 3px;
  border-radius: 4px;
}
.titleAndRegulation-list-li a {
  color: #2af;
  text-decoration: none;
}

/*Training Areas*/
.trainingAreas-containerData {
  display: grid;
  gap: 5px;
}

.header-trainingAreas h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 3px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

/*Components Types*/
.header-componentsTypes h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 3px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

.header-componentsTypes-container .header-textAndNumericData {
  margin-top: 3px;
}

/*Component Asignatures*/
.header-componentAsignatures {
  display: grid;
  min-width: 320px;
  gap: 5px;
  height: max-content;
}

.header-asignatureComponent {
  display: flex;
  gap: 4px;
}

.asignatureComponent-letter {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: 600;
}

.header-asignatureComponent .header-textAndNumericData {
  border-bottom: 1.5px solid #ccc;
  font-size: 12px;
}

.header-componentAsignatures-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/*Colored Numeric Data*/
.header-coloredNumericData {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 5px 5px 5px 7px;
  border-radius: 4px;
}

.coloredNumericData-dataBar-container {
  position: relative;
  height: 100%;
  max-height: 40px;
  flex-grow: 1;
}

.coloredNumericData-dataBar {
  display: inline-block;
  position: absolute;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
}

.coloredNumericData-value {
  min-width: 26px;
  text-align: right;
}

/*Text and Numeric Data*/

.header-textAndNumericData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.textAndNumericData-text {
  flex: 1;
}
.textAndNumericData-componentType {
  box-sizing: border-box;
  font-size: 16px;
  padding: 4px 4px 4px 6px;
  background-color: #232b30;
  color: #fff;
  border-radius: 4px;
  min-width: 22.6px;
}
