.subjectCard-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.subjectCard-prerequisites-container,
.subjectCard-nextSubjects-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 19.5px 0 7px 0;
}
.subjectCard-prerequisite-square,
.subjectCard-nextSubject-square {
  display: grid;
  place-content: center;
  border: solid 3px #000;
  font-size: 0.7em;
  color: #fff;
}
.subjectCard-prerequisite-square {
  padding: 1px 2px 1px 3px;
  border-right: 0;
  border-radius: 8px 0 0 8px;
  background-color: #0af;
}
.subjectCard-nextSubject-square {
  height: 50%;
  align-self: center;
  padding: 1px 3px 1px 2px;
  border-left: 0;
  border-radius: 0 8px 8px 0;
}

.subjectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 220px;
  overflow: hidden;
  border: solid 3px #000;
  border-radius: 8px;
  background-color: #fff;
}

.subjectCard-firstData-container {
  display: flex;
  border-bottom: solid 3px #000;
}
.subjectCard-firstData-container span {
  flex-grow: 1;
  text-align: center;
  font-weight: 800;
  font-size: 0.8em;
  font-weight: 600;
}
.subjectCard-credits {
  background-color: #000;
  color: #fff;
}
.subjectCard-synchronous {
  border-right: solid 3px #000;
}

.subjectCard-name,
.subjectCard-group {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  margin: 0;
  padding: 2px 2px;
  border-bottom: solid 3px #000;
  text-align: center;
}
.subjectCard-name {
  flex-grow: 5;
  font-weight: 600;
  font-size: 0.67em;
}
.subjectCard-group {
  flex-grow: 3;
  font-size: 0.67em;
}

.subjectCard-idComponent-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 15px;
}
.subjectCard-id {
  flex-grow: 2;
  border-right: solid 3px #000;
  text-align: center;
}
.subjectCard-component {
  flex-grow: 1;
  text-align: center;
  font-weight: 600;
}
.subjectCard-component,
.subjectCard-id {
  display: grid;
  place-content: center;
  font-size: 0.8em;
}

.subjectCard-seeMore {
  flex-grow: 1;
  border: none;
  background-color: #0099ff;
  width: 100%;
  padding: 1px 1px;
  border-top: solid 3px #000;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s;
}
.subjectCard-seeMore:hover {
  background-color: #0af;
}

@media screen and (min-width: 1610px) {
  .subjectCard-name {
    font-size: 0.72em;
  }
  .subjectCard-group {
    font-size: 0.69em;
  }
  .subjectCard-prerequisite-square,
  .subjectCard-nextSubject-square {
    font-size: 0.85em;
  }
}

@media (max-width: 1365px) {
  .subjectCard-name {
    font-size: 0.9em;
  }
  .subjectCard-group {
    font-size: 0.85em;
  }
  .subjectCard-prerequisite-square,
  .subjectCard-nextSubject-square {
    font-size: .95em;
  }
}
